[filter "clean-fodt"]
	clean =  \"Git Clean and Smudge Filters/clean-fodt.bash\"

[filter "clean-xml"]
	clean =  \"Git Clean and Smudge Filters/clean-xml.bash\"

[filter "clean-svg"]
	clean =  \"Git Clean and Smudge Filters/clean-svg.bash\"
